* {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {

    background-color: #444;
}

html {
    scroll-behavior: smooth;
}

.more-pc {
    display: none;
}


.content {
    background-color: #444;
}



.profile-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}


.profile-img {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.image-name {
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
}

.cyber {
    text-align: center;
}

.name-main {
    font-size: 33px;
    margin-bottom: 0px;
    /* margin-top: 10%; */
    text-align: center;
}

.view-projects {
    display: flex;
    justify-content: center;
}

.btn {
    height: 30px;
    width: 150px;
    border: 1px solid rgb(34, 72, 197);
    text-align: center;
    /* padding: 10px; */
    cursor: pointer;
    color: grey;
    border-radius: 15px;
    transition:
        transform 0.25s ease,
        background-color 0.25s ease,
        color 0.25s ease;
}

.btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.contact-info {
    font-size: 13px;
}

.para-about-me {
    font-size: small;
    line-height: 1.5;
    width: 96%;
}

.ug-name,
.scl-name {
    padding-left: 10px;
}

.outer-line {
    display: flex;
    justify-content: center;
}

.line {
    height: 1px;
    background-color: rgb(34, 72, 197);
    width: 60%;

}

.cert-names,
.soft-names {
    padding-left: 10px;
}

.svg-img {
    height: 45px;
    width: 60px;
    background-color: #333;
    border-radius: 20%;
    padding: 10px;
    margin: 5px;

}

.more-info-pc-connect {
    display: none;
}

.svg-img-misc {
    height: 50px;
    width: 60px;
    background-color: #333;
    border-radius: 20%;
    padding: 10px;
    margin: 5px;
}

.svg-img-act {
    padding-top: 10px;
    height: 20px;
    width: 20px;
    background-color: #333;
    border-radius: 20px;

}

.svg-img-act-misc {
    padding-top: 10px;
    height: 20px;
    width: 20px;
    background-color: #333;

}

.all-tech-skills {
    /* display: flex; */
    flex-wrap: wrap;
    /* height: 5000px; */
    padding: 5px;
}

.lang{
    display: flex;
    flex-wrap: wrap;
}

.web-dev{
    display: flex;
    flex-wrap: wrap;
}

.databases{
    display: flex;
    flex-wrap: wrap;
}

.ds-libraries{
    display: flex;
    flex-wrap: wrap;
}

.libraries-frameworks{
    display: flex;
    flex-wrap: wrap;
}

.mobile-dev{
    display: flex;
    flex-wrap: wrap;
}

.skill-name {
    background-color: #333;
    color: grey;
    font-size: 8px;
    border-radius: 20px;
}

.all-misc-skills {
    display: flex;
    flex-wrap: wrap;
}

.misc-skill-name {
    font-size: 12px;
    background-color: #333;
    color: grey;
}

.go-to-projects {
    height: 50px;
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.click-project{
    /* color: white; */
    /* background-color: red; */
    height: 100%;
    width: 100%;
}

.click-project a{
    color: white;
    /* background-color: red; */
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.underline {
    display: none;
}

.br-1 {
    display: none;
}

.name .view-projects .btn a{
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.click-project a{
    text-decoration: none;
}





@media (min-width: 1024px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
        padding-left: 100px;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .left-part-of-grid {
        /* display: flex; */
        justify-content: center;
        align-items: center;


        grid-column: 1/2;
        grid-row: 1/4;
        width: 90%;
        padding: 0;
        margin: 0;
    }

    .content-1 {
        padding: 0;

        margin: 0;
        width: 100%;

        /* border: 1px solid black; */
        position: sticky;
        top: 10px;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-1-inside {
        height: 700px;
        width: 85%;
        border: 1px solid #555;
        border-radius: 50px;
        /* margin-top: 100px; */
        /* box-sizing: border-box; */
        /* margin-top: 100px; */
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.08);


    }

    .inside-contact-info {
        padding-left: 20px;
    }

    .content-2 {
        margin: 0;
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .profile-img {
        display: flex;
        justify-content: center;
    }

    .name-main {
        text-align: center;
        font-size: 50px;
    }

    .image-name {
        display: block;
    }

    .profile-image {
        height: 150px;
        width: 150px;

    }

    .br-1 {
        display: block
    }


    .contact-info {
        font-size: 17px;
    }

    .cyber {
        text-align: center;
    }

    .heading {
        font-size: 40px;
    }

    .go-to-projects .click-project{
    height: 100%;
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    }

    .go-to-projects .click-project a{
    height: 100%;
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.view-projects{
    height: 100%;
    /* width: 40%; */
    /* background-color: tomato; */
}
.view-projects .btn{
    height: 40px;
    /* width:40%; */

}

.view-projects .btn a{
    
    /* background-color: tomato; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 100%;

}



    p,
    h4 {
        font-size: 25px;
    }

    .more-pc {
        margin: 50px 40px 0px 0px;
        display: block;
    }

    .head-opts {
        display: flex;
        justify-content: end;
        font-size: 18px;
        /* cursor: pointer; */
        padding: 0px 10px;
    }

    .head-opts-in {
        display: flex;
        justify-content: end;
        font-size: 18px;
        /* cursor: pointer; */
        padding: 0px 20px;
    }

    a {

        text-decoration: none;
    }

    .proj-head {
        color: orange;
        font-style: italic;
        font-size: 20px;
        animation-name: proj-1;
        animation-duration: 0.85s;
        animation-direction: alternate;
        /* transform: translateX(15px); */
        /* transform: translateX(-15px); */
        padding-left: 0px;


        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0, 2.44, 0.43, 2.23);
    }

    @keyframes proj-1 {
        from {
            transform: translateX(10px);
        }

        to {
            transform: translateX(0px);
        }
    }

    .in-proj-2 {
        /* width: 100px; */
        /* width: 250px; */
        background-color: #444;
        padding-left: 0px;
        padding-left: 0px;

    }

    .in-proj {
        text-align: center;
        /* background-color: #333; */
        /* height: 100%; */
        /* width: 250px; */
        /* margin: 0px 10px; */
        padding: 0px;
        cursor: pointer;
    }

    .go-to-projects {
        grid-column: 2/3;
    }

    .underline {
        margin: 0;
        height: 4px;
        background-color: rgb(34, 72, 197);
        width: 200px;
        display: block;
    }

    .heading {
        margin-bottom: 0px;
    }

    .opt-nav {
        cursor: pointer;
        margin: 0px 10px;
        transition: all 0.1 ease;
        color: grey;
    }

    .opt-nav:hover {
        color: white;
    }




    .svg-img:hover {
        background-color: grey;
        /* transition-duration: 0.001s; */
        scale: 1.1;

        .svg-img-act {
            background-color: grey;
            transition-duration: 0ms;
        }

        .skill-name {
            background-color: grey;
            transition-duration: 0ms;
            color: black;
            scale: 100%;
        }

    }

    .svg-img-misc:hover {
        background-color: grey;
        /* transition-duration: 0.1s;
        scale: 1.1; */

        .svg-img-act-misc {
            background-color: grey;
            /* transition-duration:0ms; */
        }

        .misc-skill-name {
            background-color: grey;
            /* transition-duration: 0ms; */
            color: black;
            scale: 100%;
        }

    }



    .more-info-pc-connect {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .more-info {
        background-color: #444;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }


    .go-to-projects:hover {
        background-color: grey;



        .click-project {
            background-color: grey;
        }

    }


    .btn:hover {
        color: black;
        background-color: grey;
        transform: scale(1.1);
    }



    .svg-img {
        height: 80px;
        width: 100px;
    }

    .skill-name {
        font-size: 15px;

    }

    .skill-img-act {
        height: 40px;
        width: 40px;
    }









}